<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writerslife</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="w-auto">
    <div class="bg-blue-800 text-left text-white font-mono mx-56 my-6 p-8 rounded shadow-lg">
        Writerslife
    </div>
    <div class="bg-grey-lighter flex flex-col">
        <form>
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-2 py-6 rounded shadow-md text-black w-full font-mono">
                    <h1 class="mb-8 text-3xl text-center">Enter new password</h1>
                    <input
                            required
                            type="password"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            id="password"
                            placeholder="Password"/>

                    <button
                            type="submit"
                            class="w-full text-center py-3 rounded bg-blue-800 text-white focus:outline-none my-1"
                    >Password Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>