<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>B&C</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<body>
    <label id="token" th:text="${token}" style="display:none;"></label>
    <div class="w-auto">
        <div class="bg-orange-900 text-left text-white font-mono mx-56 my-6 p-8 rounded shadow-lg">
            Welcome <label id="username" th:text="${username}"></label>
        </div>
        <div class="bg-grey-lighter flex flex-col">
            <form>
                <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                    <div class="bg-white px-2 py-6 rounded shadow-md text-black w-full font-mono">
                        <h1 class="mb-8 text-3xl text-center"> Please enter new password </h1>
                        <input required type="password" class="block border border-grey-light w-full p-3 rounded mb-4"
                            id="password" placeholder="Password" />

                        <button type="submit"
                            class="w-full text-center py-3 rounded bg-orange-900 text-white focus:outline-none my-1">
                            Password Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        var serverAddress = "http://[[${server_address}]]";

        $(document).ready(function () {
            $('form').submit(function (event) {
                savePass(event);
            });

            function savePass(event) {
                event.preventDefault();

                var token = $("#token").html();
                var username = $("#username").html();
                var password = $("#password").val();

                var data = {
                    token: token,
                    username: username,
                    password: password
                }

                if (password) {
                    $.post(serverAddress + "/users/savePassword", data, function (response) {
                        if (response === "success") {
                            Swal.fire({
                                icon: 'success',
                                title: 'Great, your password has been updated',
                                text: 'Please login with your new password.',
                            });
                        }
                    })
                        .fail(function (error) {
                            let responseErrorMessage = "Please try again later";
                            if (error.responseJSON && error.responseJSON.errors) {
                                responseErrorMessage = error.responseJSON.errors[0].defaultMessage;
                            }
                            Swal.fire({
                                icon: 'error',
                                title: 'Sorry, something went wrong',
                                text: responseErrorMessage,
                            });
                        });
                }
            }
        });

    </script>
</body>

</html>